.Header {
    color:blue;
    text-align:center;
}
.Click{
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.para
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  color:aqua;
}
#onclickk
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  color:darkmagenta;
}
.Body
{
   background-color:darkgoldenrod;
}
.Background
{
  display: flex;
  flex-direction: column;
}